<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Boot User Authentication</title>
</head>
<body>
<h1>SIGN IN</h1>
<form role="form" th:action="@{/sign-in}" th:method="post">
    <lable>Username</lable>
    <input type="text" id="username" name="username">
    <br>
    <lable>Password</lable>
    <input type="password" id="password" name="password">
    <br>
    <input type="submit">
</form>
<br><br>
<div>
    <div>
      With GitHub: <a href="/oauth2/authorization/github">click here</a>
    </div>
</div>
</body>
</html>